:root{  --clr-dark: #1f2937;
        --clr-white: #f9faf8;
        --clr-gray: #e5e7eb;
        --clr-blue: #3882f6;
        --clr-darkgray: #8e8e8f;

        --fs-biggest:1.8rem;
        --fs-bigger:1.35rem;
        --fs-big:.9rem;
        --fs-small:.675rem;
        /* 
        --fs-biggest:3rem;
        --fs-bigger:2.25rem;
        --fs-big:1.5rem;
        --fs-small:1.125rem;
        */
        
    }

/* this code is for the cutom properties which will used in the designing process*/

/* this code here sets the border and fonts */
/* the code below are utility class for font sizes */
.font-biggest{ font-size: var(--fs-biggest);/*48px*/}
.font-bigger{font-size: var(--fs-bigger);/*36px*/}
.font-big{ font-size: var(--fs-big);/*24px*/}
.font-small{ font-size: var(--fs-small);/*18px*/}
/*  the code below are utility class for background color */
.bg-dark{background-color: var(--clr-dark);}
.bg-blue{background-color: var(--clr-blue);}
.bg-white{background-color: var(--clr-white);}
.bg-gray{background-color: var(--clr-gray);}
.bg-darkgray{background-color: var(--clr-darkgray);}
/* the code below are utility class for  */
.fdark{color: var(--clr-dark);}
.fwhite{color: var(--clr-white);}
.fgray{color: var(--clr-gray);}
.fdarkgray{color: var(--clr-darkgray);}
/* other utility classes */
.txt-align-center{text-align: center;}
.bold{font-weight: bolder;}
/* the nav that uses list */
ul{  margin: 0 0;}
li{list-style-type: none; text-align: right;}
a{color: var(--clr-gray); text-decoration: none;}
/* the button */
.btn{
    background-color: var(--clr-blue);
    border: none;
    border-radius: .25em;
    padding: .1em 1.25em;
}
* p{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
}
body{
    margin-inline: auto;
    width: min(100%,75rem);
}
.inf-block{
    border: .3rem solid black;
    padding: min(2%,2.5rem);
   
    border-radius: 1rem;
}
header, footer, .action{
    padding-inline: min(5%);
}
.information, .body{
    padding-inline: min(10%);
}
.action-pad{
    border-radius: .5em;
    padding: min(3%,2rem) min(2%,2rem);
}
.action-btn{
    border: .125rem solid var(--clr-white);
    margin:  min(3%,2rem) 0 0 0;
}
.header-btn{
    margin:  min(3%,2rem) 0;
}
.information, .body, .action, footer{
    padding-block: 5%;
}
.inf-title{
    margin-bottom: 1em;
}
.body-thor{
    text-align: right;
    padding-right: min(5%, 3rem);
}
.body-phrase{
    text-align: center;
}


/* layout mobile */
header,{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(1vh,5rem);
}

.split.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.header-body-des{
    text-align: center;
}
.action-pad{
    text-align: center;
}
.inf-grid{
    display: flex;
    gap: min(2%,2rem);
}
.inf-block{
    min-height: 4rem;
}



