/*
dark-bg: #1f2937
white-bg: #f9faf8
gray-bg: #e5e7eb
blue-bg: #3882f6
fonts 18 24 36 48
*/
:root{  --clr-dark-bg: #1f2937;
        --clr-white-bg: #f9faf8;
        --clr-gray-bg: #e5e7eb;
        --clr-blue-bg: #3882f6;}
        --ckr-darkgray: gray;
html{ box-sizing: border-box; font-family: sans-serif;}
.larger{ font-size: 3rem;/*48px*/ font-weight: 900;}
.large{ font-size: 2.25rem;/*36px*/ font-weight: bolder;}
.medium{ font-size: 1.5rem;/*24px*/}
.small{ font-size: 1.125rem;/*18px*/}
ul{ padding: 0;}
li{ display: inline; list-style-type: none;}
a{color: var(--clr-gray-bg); text-decoration: none;}
.dark{background-color: var(--clr-dark-bg);}
.blue{background-color: var(--clr-blue-bg);}
.white{background-color: var(--clr-white-bg);}
.gray{background-color: var(--clr-gray-bg);}
.darkgray{background-color: gray;}
.fdark{color: var(--clr-dark-bg);}
.fwhite{color: var(--clr-white-bg);}
.fgray{color: var(--clr-gray-bg);}
.txt-align-center{text-align: center;}
.bold{font-weight: bolder;}
.btn{
    color: var(--clr-white-bg);
    background-color: var(--clr-blue-bg);
    font-weight: 600;
    text-align: center;
    border-radius: .25rem;
    padding: .15em 1em;}
header, footer, .action, .action-pad{
    padding: 0rem 6rem;
}
.information, .body{
    padding: 0rem 12rem;
}
footer, .action-pad, .body{
    padding-block: 2rem;
}
.inf-block{
    border: .125rem solid var(--clr-blue-bg) ;
    border-radius: .25rem;
}
.action-call, .action-sign, .header-body-des-title, .header-body-des-inf, .body-phrase, .body-thor{
    padding: 0;
    margin: 0;
}



header{
    padding-bottom: 4rem;
}
.header-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
}
.header-body{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.header-body-des{
    flex: 1 1 0;
}
.header-body-img{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inf-grid{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.inf-block{
    height: 10rem;
}


.action-pad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    margin-block: 2rem;
}
.action-btn{
    border: .125rem solid var(--clr-white-bg);
}


